Plugin.dll
*/bin
*/obj
*/.vs
*.suo
TestStore/
.vs/FileFlowsPlugins/v17/.futdcache.v1
.vs/FileFlowsPlugins/DesignTimeBuild/.dtbcache.v2
.vs/FileFlowsPlugins/project-colors.json
/Plugin.pdb
deploy/**
*.ffplugin
DiscordNodes/settings.json
