Plugin.dll
*/bin
*/obj
*/.vs
*.suo
TestStore/
.vs/FileFlowsPlugins/v17/.futdcache.v1
.vs/FileFlowsPlugins/DesignTimeBuild/.dtbcache.v2
.vs/FileFlowsPlugins/project-colors.json
/Plugin.pdb
deploy/**
*.ffplugin
DiscordNodes/settings.json
Gotify/settings.json
Plex/settings.json
Emby/settings.invalid.json
Emby/settings.json
VideoNodes/test.settings.dev.json
Apprise/settings.json
build/utils/PluginInfoGenerator/
